.cart-container {
  display: flex;
  justify-content: center;
  min-height: 75vh;
}

@media screen and (min-width: 768px) {
  .cart-container {
    min-height: 90vh;
  }
}

.cart-content-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1110px;
}

@media screen and (min-width: 768px) {
  .cart-content-container {
    width: 80%;
    max-width: 1110px;
  }
}

.cart-heading {
  color: #3e4c59;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .cart-heading {
    font-size: 48px;
  }
}

/* Write your CSS here */

.total-value {
  box-shadow: 0px 4px 16px 0px #3e4c59;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.checkout-cont {
  display: flex;
  justify-content: flex-end;
}

.checkout-btn {
  background-color: 3e4c59;
  border: 1px solid #3e4c59;
  border-radius: 5px;
  padding: 10px;
}

.remove-all {
  display: flex;
  justify-content: flex-end;
}
